main {
  --main-border-color: #30363d;
  flex: 2;
  display: flex;
}

html {
  background-color: black;
}

p {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 4em;
}

/* .main div:nth-child(1) {
  justify-content: center;
  margin: auto;
} */

.main button {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.main div:nth-child(2) {
  /* margin: auto; */
}

/*******/

.automata-grid-element-alive.automata-grid-element {
  background-color: #39d353 !important;
}

.automata-grid-element {
  background-color: #161b22 !important;
}

.grid-container {
  margin-top: 2em;
  justify-content: center;
  margin: auto;
}

@media (min-width: 450px) {
  .grid-container {
    border: 1px solid var(--main-border-color);
  }
  .automata-grid-element {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 300px) and (max-width: 449px) {
  .automata-grid-element {
    width: 23.5px !important;
    height: 23.5px !important;
  }
  .grid-container__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
}

/* @media (min-width: 400px) and (max-width: 399px) {
  .automata-grid-element {
    width: 15px !important;
    height: 15px !important;
  }
} */

/*********/

.controls {
  display: flex;
  flex-direction: column;
}


.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  width: 100%;
}

.button-group.button-share button:nth-child(1) {
  color: white;
}

.button-group.button-share button {
  margin-bottom: 0;
}

.shareables {
  border: 1px solid var(--main-border-color);
}

.shareables input {
  width: 100%;
}

/*****/

.footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 32px;
  padding-top: 4em;
}

.footer a {
  color: white;
}

