.automata-grid-element-alive.automata-grid-element {
  background-color: green !important;
}

.automata-grid-element {
  background-color: red !important;
}

html {
  background-color: black;
}

main {
  flex: 2;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 4em;
}

.main div:nth-child(1) {
  justify-content: center;
  margin: auto;
}

.main button {
  padding: 1em 3em;
  margin-bottom: 1em;
}

.main div:nth-child(2) {
  display: block;
  margin: auto;
}

.grid-container {
  padding-top: 4em;
}