.automata-grid-element-alive.automata-grid-element {
  background-color: green !important;
}

@media (max-width: 700px) {
  .automata-grid-element-alive.automata-grid-element {
    width: 15px !important;
    height: 15px !important;
  }
}

.automata-grid-element {
  background-color: red !important;

}

@media (max-width: 700px) {
  .automata-grid-element {
    width: 20px !important;
    height: 20px !important;
  }
}

html {
  background-color: black;
}

main {
  flex: 2;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 4em;
}

.main div:nth-child(1) {
  justify-content: center;
  margin: auto;
}

.main button {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.main div:nth-child(2) {
  display: block;
  margin: auto;
}

.grid-container {
  padding-top: 2em;
}

p {
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 32px;
  padding-top: 4em;
}

.footer a {
  color: white;
}

.button-group {
  flex-direction: row;
  display: flex;
  gap: 8px;
}

.button-group.button-share {
  background-color: orange;
  padding: 1em;
}

.button-group.button-share button:nth-child(1) {
  color: white;
}

.button-group.button-share button {
  margin-bottom: 0;
}

.shareables {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}